<div class="sidebar">
    <div class="profile">
        <img src='/images/inyoung2.png'>
    </div>
    <h1>Inyoung Hong</h1>
    <p>Hello! I am a senior at Cornell University studying Computer Science and Philosophy.</p>
    <p>I'm currently looking for front-end or software engineering work after I graduate in May 2018. Hiring? I'd love to hear from you.</p>

    <ul class="menu">
      <li><a ui-sref="home">Home</a></li>
      <li><a ui-sref="about">About</a></li>
      <li><a ui-sref="projects">Projects</a></li>
      <li><a ui-sref="contact">Contact</a></li>
    </ul>
</div>
