@import "../../stylesheets/variables";
@import "education/education";
@import "experience/experience";
@import "projects/projects";
@import "top/top";

$pink: #ec6f66;
$orange: #f3a183;

.container {
    max-width: 1000px;
}
.narrow {
    max-width: 500px;
}

.tag {
    background: $color;
    color: #fff;
    padding: 5px 10px;
    display: inline-block;
    position: absolute;
    bottom: 0;
    left: 10px;
    @include small-caps;
    letter-spacing: 1px;
}

.container h2 {
    font-size: 40px;
    font-weight: 900;
    font-family: "Montserrat";
    margin-bottom: 20px;
    // text-transform: uppercase;
    letter-spacing: 1px;

    color: $color;

    span {
        color: $color;
        // display: block;
    }
}

.section {
    max-width: 800px;
    margin: 80px auto;

    

}
