<!-- <navbar></navbar> -->
<!-- <header>
    <hero></hero>
</header> -->
<main>

    <div class="top container">
        <div class="inline-wrap" id="photo">
            <div class="image-wrap">
                <img src='/images/inyoung2.png'>
                <div class="tag">>> Hello!</div>
            </div>
        </div>
        <div class="inline-wrap" id="side-text">
            <div id="big-letter">I</div>
            <div class="title">
                <div id="title1">Inyoung</div>
                <div id="title2">Hong</div>
            </div>
            <div id="sub">
                <p>Cornell University, 2018</p>
                <!-- <p>Computer Science</p> -->
                <p>Front End / Software Engineer</p>
            </div>
        </div>
    </div>

        <div class="section">
            <div class="number-wrap">
                <div class="number">01</div>
                <div class="number-text">
                    <h2>About Me</h2>
                </div>
            </div>
            <div class="container">

            </div>
        </div>

        <!-- <h1>Found in {{ $ctrl.name }}.html</h1> -->
    </div>
</main>
