
.experience {
    position: relative;
    background: #fff;
    margin: 60px 0;

    li {
        margin: 5px 0;
    }

    .image {
        position:absolute;
        top: 0px;
        left: 0px;
        max-width: 100px;
        img {
            max-width: 100%;
        }
    }

    .text {
        margin-left: 140px;
    }

    h4 {
        @include small-caps;
        text-transform: none;
        color: $color;
        margin-bottom: 10px;
        line-height: 1.2em;
    }

    h3 {
        @include small-caps;
        font-size: 20px;
        margin: 0 0 5px;
    }

    h5 {
        @include small-caps;
        color: #888;
        margin-top: 20px;
    }

    .fr {
        float: right;
        text-align: right;
    }
    .date {
        @include small-caps;
        color: #888;
    }
}
