
.experience {
    position: relative;
    background: #fff;
    margin: 30px 0;
    padding: 30px 30px 25px;
    border: 1px solid #eee;
    line-height: 1.4em;

    li {
        margin: 5px 0;
    }

    .image {
        position:absolute;
        top: 30px;
        left: 30px;
        max-width: 100px;
        img {
            max-width: 100%;
            margin: 0 !important;
        }
    }

    .text {
        margin-left: 140px;
    }

    h4 {
        @include small-caps;
        text-transform: none;
        color: $color;
        margin-bottom: 10px;
        line-height: 1.2em;
    }

    h3 {
        @include small-caps;
        font-size: 20px;
        margin: 0 0 5px;
    }

    h5 {
        @include small-caps;
        color: #888;
        margin-top: 20px;
    }

    .fr {
        float: right;
        text-align: right;
    }
    .date {
        @include small-caps;
        color: #888;
    }
}
