<div class="section" id="project-section">
    <div class="content">
        <div class="number-wrap">
            <div class="number">04</div>
            <h2>Projects</h2>
        </div>
        <div class="text" id="project-text">
            <div ng-repeat="project in $ctrl.projects" class="project">
                <div class="image">
                    <!-- <img src="./images/ project.image"> -->
                </div>
                <h3>{{ project.name }}</h3>
                <!-- <div class="title">{{ project.title }}</div>
                <div class="date">{{ project.date }}</div>
                <div class="location">{{ project.location }}</div>

                <div class="description">{{ project.description }}</div> -->

            </div>
        </div>

        {{ testing }}
    </div>
</div>
