// $color: #ffe14f
$color: #fdbc14;
$gray_light: #f0f0f0;
$gray_text: #888;

$pink: #ec6f66;
$orange: #f3a183;

@mixin small-caps() {
    font-family: "Montserrat";
    font-weight: 700;
    text-transform: uppercase;
    font-size: 16px;
    color: #444;
}

@mixin button() {
    background: $gray_light;
    color: $gray_text !important;
    display: inline-block;
    transition: background 0.1s, color 0.1s;
}

@mixin button-hover() {
    background: $color;
    color: #fff !important;
    text-decoration: none;
}
