@import "stylesheets/variables";
@import "stylesheets/vendor/bootstrap";
@import "common/common";
@import "components/resume/resume";
@import "components/about/about";
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700,800|Source+Sans+Pro:400,600,700');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700');

* {
    border: none;
    background: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Source Sans Pro";
    font-weight: 300;
    font-size: 15px;
    background: #fafafa;
    line-height: 1.4em;
}

ul, ol {
    margin-left: 22px;
}

ul {
    list-style-type: square;

    li {
        margin: 10px 0;
    }

    &.squished li {
        margin: 0;
    }
}

.center {
    text-align: center;
}

.app {

}

.wrap {
    padding: 40px 4%;
    // max-width: 900px;
}

.section {
    max-width: 800px;
    margin: 80px auto;



}


.main {
    margin-left: 300px;
}

h1 {
    font-size: 40px;
    font-weight: 900;
    font-family: "Montserrat";
    margin-bottom: 20px;
    // text-transform: uppercase;
    letter-spacing: 1px;
    color: $color;
}
