@import "stylesheets/variables";
@import "stylesheets/vendor/bootstrap";
@import "components/sidebar/sidebar";
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700,800|Source+Sans+Pro:400,600,700');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700,700i,900,900i');
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700');

* {
    border: none;
    background: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Source Sans Pro";
    font-weight: 300;
    font-size: 15px;
    background: #fafafa;
    line-height: 1.4em;
}

ul, ol {
    margin-left: 22px;
}

ul {
    list-style-type: square;

    li {
        margin: 10px 0;
    }

    &.squished li {
        margin: 0;
    }
}

.center {
    text-align: center;
}

.app {

}



.main {
    margin-left: 300px;
}
