@import "stylesheets/variables";
@import "stylesheets/vendor/bootstrap";
@import "stylesheets/vendor/font-awesome/scss/font-awesome";
@import "common/common";
@import "components/contact/contact";
@import "components/resume/resume";
@import "components/about/about";
@import "components/detail/detail";
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700,800|Source+Sans+Pro:400,600,700');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700');

* {
    border: none;
    background: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Source Sans Pro";
    font-weight: 300;
    font-size: 16px;
    line-height: 1.5em;
    color: #888;
}

ul, ol {
    margin-left: 22px!important;
}

ul {
    list-style-type: square;

    &.squished li {
        margin: 0;
    }
}

.center {
    text-align: center;
}

.app {

}

.narrow {
    max-width: 800px;
}

.wrap {
    padding: 40px 5%;
    // max-width: 900px;
}

.main {
    margin-left: 300px;

    h1 {
        font-size: 40px;
        font-weight: 700;
        font-family: "Montserrat";
        margin: 10px 0 50px;
        // text-transform: uppercase;
        color: #444;
    }

    h2 {
        color: #444;
        font-weight: 600;
        margin-top: 50px;
    }

    h3 {
        font-weight: bold;
        font-size: 20px;
    }

    img {
        max-width: 100%;
        margin: 10px 0;
    }

    a {
        color: $color;
        transition: all 0.1s;
    }
}
