<div class="top container">
    <div class="inline-wrap" id="photo">
        <div class="image-wrap">
            <img src='/images/inyoung2.png'>
            <div class="tag">>> Hello!</div>
        </div>
    </div>
    <div class="inline-wrap" id="side-text">
        <!-- <div id="big-letter">I</div> -->
        <div class="title">
            <div id="title1">Inyoung</div>
            <div id="title2">Hong</div>
        </div>
        <div id="sub">
            <p>Cornell University, CS '18</p>
            <!-- <p>Computer Science</p> -->
            <p>Front End / Software Engineer</p>
        </div>
    </div>
</div>
