.top {
    text-align: center;
    padding-top: 60px;
    padding-bottom: 150px;

    .inline-wrap {
        display: inline-block;
        vertical-align: top;
    }

    #photo {
        text-align: right;
        padding-right: 30px;
        position: relative;
        max-width: 300px;

        img {
            max-width: 100%;
        }
    }

    #side-text {
        padding-left: 30px;
        padding-top: 30px;
        position: relative;
        text-align: left;

        .title {
            font-family: "Playfair Display";
            font-style: italic;
            font-weight: 900;
            font-size: 70px;
            line-height: 1em;
        }

        #sub {
            margin-top: 25px;

            p {
                margin: 0 0;
            }
        }
    }
}
