.large-project-wrap {
    margin-top: 60px;

    .project {
        width: 100%;
        margin-bottom: 60px;

        .preview-image {
            width: 33%;
            display: inline-block;
            vertical-align: top;
        }
        .details {
            width: 66%;
            display: inline-block;
            vertical-align: top;
            padding-left: 40px;
        }
        .preview-cover {
            display: none!important;
        }

        .name {
            cursor: pointer;
            transition: color 0.1s;
            font-size: 20px;
            &:hover {
                text-decoration: underline;
                color: $color;
            }
        }
    }

    .tag-wrap {
        margin-top: 20px;
    }

    .tag {
        @include button;
        padding: 2px 10px;
        margin: 2px;
        font-size: 13px;
        font-weight: 400;
    }
}
