.project-wrap {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.project {
    cursor: pointer;
    width: 32%;
    background: white;
    // box-shadow: 0px 0px 3px #ccc;
    border: 1px solid #eee;
    margin-bottom: 40px;
    position: relative;

    &:hover {
        .preview-image {
        }
        .preview-cover {
            opacity: 0.9;
        }
    }

    .preview-cover {
        opacity: 0;
        transition: opacity 0.2s;
        background: $color;
        color: #fff;
        position: absolute;
        height: 200px;
        top: 0;
        left: 0;
        width: 100%;
        padding-top: 90px;
        text-align: center;
        font-size: 16px;
        font-weight: 700;
        .fa {
            position: relative;
            left: 2px;
        }

    }

    .preview-image {
        background-size: cover;
        height: 200px;
        background-position: center;
    }

    .details {
        padding: 25px 20px 20px;

        .name {
            @include small-caps;
            margin-bottom: 20px;
        }

        .slug {
            color: #888;
        }
    }

    .tag-wrap {
        margin-top: 20px;
    }

    .tag {
        border: 1px solid #ddd;
        color: #444;
        // background: $color;
        // color: #fff;
        padding: 2px 10px;
        display: inline-block;
        margin: 2px;
        font-size: 13px;
        font-weight: 400;
    }
}
