.button-wrap {
    text-align: center;

    .button {
        padding: 10px 15px;
        font-weight: 500;
        width: 150px;
        text-align: center;
        @include button;

        .fa {
            margin-right: 5px;
        }

        &:hover {
            @include button-hover;
        }
    }
}

.outline {
    margin-top: 40px;
}
