.sidebar {
    width: 300px;
    position: fixed;
    height: 100%;
    background: #f4f4f4;
    padding: 30px 30px;
    line-height: 1.4em;
    // text-align: center;

    h1 {
        @include small-caps;
        letter-spacing: 0.5px;
        font-size: 18px;
        margin-bottom: 20px;
        text-align: center;
    }

    p {
        color: #888;
        font-size: 14px;
    }

    .profile {
        width: 130px;
        border: 1px solid #e0e0e0;
        padding: 8px;
        border-radius: 100%;
        margin: 0 auto 20px;

        img {
            max-width: 100%;
        }
    }

    .menu {
        margin-top: 30px;

        li {
            font-size: 16px;
            margin: 5px 0;
            color: #666;
            transition: color 0.1s;

            &:hover, &:focus {
                color: $color;
                text-decoration: none;
                cursor: pointer;
            }

            &.active {
                color: $color;
                font-weight: 700;
            }
        }
    }


}
